body{
	background-image:url("bg.jpg")!important;
}

.navbar{
	background-color:;
}

#logo{
	color:Gold;
	font-family: 'Rowdies', cursive;
	font-size:32px;
    
}

#logo:hover{
	color:silver;
	
}
.collapse navbar-collapse {
  float: left;
  margin-left: 10px;
}

ul{
	font-size:20px;
}
ul li a:hover{
	color:gold!important;
}

