#logo:hover{
	color:silver;
	
}

ul{
	font-size:20px;
}
ul li a:hover{
	color:gold!important;
}

div .carousel-item img{
	width:200px;
	height:400px;
}

.carousel-item p{
    font-size:15px;
    color:white;
    text-align:center;
}
